// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer base { // will purge
header {
	@apply flex p-8 pb-0;

	.logo {
		@apply mx-8 font-title text-6xl w-max leading-none flex-1;

		margin-bottom: -0.2em;
	}

	nav {
		@apply relative flex flex-[4];

		a:not(.cart) {
			@apply relative block h-max p-4 mx-8 uppercase text-xs tracking-wider;

			span {
				@apply opacity-100 transition-opacity duration-700;
			}

			&::after {
				@apply font-bold opacity-0 transition-opacity duration-700;
				@apply absolute block top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;

				/* stylelint-disable-next-line csstree/validator */
				content: attr(title);
			}

			&.active {
				span {
					@apply opacity-0;
				}

				&::after {
					@apply opacity-100;
				}
			}
		}

		.cart {
			@apply absolute right-4 top-1 fade-in-right;

			svg {
				@apply w-8 h-8;
			}
		}

		&:nth-of-type(1) {
			@apply justify-end;
		}

		&:nth-of-type(2) {
			@apply justify-start;
		}
	}
}

// }
