@layer utilities {
	@keyframes fade-in-left {
		0% {
			@apply opacity-0 translate-x-1/2;
		}

		100% {
			@apply opacity-100 translate-x-0;
		}
	}

	@keyframes fade-in-bottom {
		0% {
			@apply opacity-0 -translate-y-1/2;
		}

		100% {
			@apply opacity-100 translate-y-0;
		}
	}

	@keyframes fade-out-top {
		0% {
			@apply opacity-100 translate-y-0;
		}

		100% {
			@apply opacity-0 -translate-y-1/2;
		}
	}

	@keyframes zoom-in {
		0% {
			@apply opacity-0 scale-90;
		}

		100% {
			@apply opacity-100 scale-100;
		}
	}

	.lvivska-transition {
		@apply transform-gpu duration-300 ease-out;

		animation-fill-mode: forwards;
	}

	.fade-in-left {
		@apply lvivska-transition;

		animation: fade-in-left;
	}

	.fade-in-bottom {
		@apply lvivska-transition;

		animation: fade-in-bottom;
	}

	.fade-out-top {
		@apply lvivska-transition;

		animation: fade-out-top;
	}

	.zoom-in {
		@apply lvivska-transition;

		animation: zoom-in;
	}

	.text-shadow {
		text-shadow: 1px 1px 1px rgb(0 0 0 / 50%), 2px 4px 6px rgb(0 0 0 / 33%);
	}
}
